.cart {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;

}

.containerCart {
    max-height: 100%;
    display: grid;
    grid-template-columns: 50% 35% 15%;
    overflow-x: hidden;
    margin: 3rem 5rem 0rem 5rem;
    width: 40rem;
    border-top: 1px solid hsl(338, 33%, 16%);
}

.title {
    display: flex;
    flex-direction: row;
    margin: 2rem 0rem 0rem 5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.2rem;
}

.div1 {
    margin-top: 2vh;
}

.div1 .img-cart {
    height: 10rem;
    width: auto;
}

.div2 {
    margin-top: 2vh;
}

.div2 .name-cart {
    display: flex;
    flex-direction: row;
    text-align: start;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
}

.div2 .price-cart {
    display: flex;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: #000000;
}

.div2 .cant-cart {
    display: flex;
    flex-direction: row;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    text-transform: capitalize;
}

.div3 {
    display: flex;
    margin-top: 2vh;
    justify-content: end;
}

.div3 .btn-delete {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: hsl(338, 33%, 16%);
    width: auto;
    height: 5vh;
}

.alert {
    clear: both;
    padding: 1rem;
    text-align: center;
    margin: 3rem 5rem;
}

.alert-info {
    background-color: white;
    border-radius: 0rem;
    color: #000000;
    border: 1px solid hsl(338, 33%, 16%);
    width: 28rem;
}

.btnInit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(338, 33%, 16%);
    position: relative;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    background: none;
    white-space: normal;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.initBtn {
    margin: 3rem 5rem;
    padding: 0.70rem 0rem;
    font-size: 14px;
    border-radius: 0rem;
    border-bottom: 3px solid hsl(338, 33%, 16%);
    align-items: center;
    width: 28rem;
    height: 2.5rem;
}

.initBtn:hover {
    background-size: 200% 200%;
    background-image: linear-gradient(to top, hsl(338, 33%, 16%) 100%, transparent 100%);
    color: white;
    border-bottom: 3px solid hsl(338, 33%, 16%);
    transition: all 0.09s ease-in;
}

.containerPrice {
    background-color: hsl(338, 100%, 96%);
    border-top: 3px solid hsl(338, 33%, 16%);
    margin: 6.4rem 5rem;
    width: 25rem;
    height: 10rem;
}

.title2 {
    display: flex;
    margin: 0.5rem 0rem 0rem 5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.containerTotal {
    display: flex;
    flex-direction: row;

}

.total {
    display: flex;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    margin: 1.5rem 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000000;
}

.totalPrice {
    display: flex;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
    margin: 1.5rem 0rem 1.5rem auto;
    padding-right: 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: #000000;
}