.icono-bag {
    margin-left: 1vw;
    border: none;
    background-color: transparent;
    font-size: 30px;
    margin-right: 1vw;
    text-decoration: none;
    color: rgb(13, 145, 64);
  }
  
  .icono-bag:hover {
    color: rgba(82, 228, 148, 0.468);
  }
  
  .cart-widget-amount {
    font-size: 10px;
    position:unset;
    margin-left: 1.5vw;
    top: 3.5vh;
    left: 2.8vw;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
  }