.cover {
    height: 26rem;
    font-size:15rem;
    color: hsla(0, 0%, 0%, 0.473);
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-size: cover;
    width: 95rem;
}