.navDiv {
    background-color: hsla(0, 26%, 95%, 0.603);
    height: 7rem;
    color: black;
    font-size: 1.60rem;
    letter-spacing: 0.2rem;
    justify-content: space-between;
    
}
.container-fluid{
    margin-left: 10rem;
}
.btn {
    color: black;
}
.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
}
.imgNav {
    width: 15rem;
    margin-left: 2rem;
}