.containerBtn {
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  
  .circleBtn {
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    background: hsl(244, 52%, 21%);
    color: white;
    outline: none;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    border-color: hsl(244, 52%, 21%);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
  
  .count {
    padding: 0rem 1rem;

  }
  
  .addCart {
    align-items: center;
    color: hsl(244, 52%, 21%);
    position: relative;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    background: none;
    white-space: normal;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    letter-spacing: 0.2rem;
  }
  
  .btnCart {
    margin: auto auto;
    padding: 0.70rem 0rem;
    font-size: 14px;
    border-radius: 0rem;
    border-bottom: 3px solid hsl(244, 52%, 21%);
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 2.5rem;
  }
  
  .btnCart:hover {
    background-size: 200% 200%;
    background-image: linear-gradient(to top, hsl(216, 59%, 21%) 100%, transparent 100%);
    color: white;
    border-bottom: 3px solid hsl(0, 0%, 0%);
    transition: all 0.09s ease-in;
  }