.navbar {
    background-color: hsl(0, 84%, 22%);
    height: 5rem;
}

.navbar-brand {
    font-size: 1.60rem;
    padding-left: 2rem;
    letter-spacing: 0.2rem;
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
}